<!DOCTYPE html>
{{!-- For dark mode: --}}

<html lang="ru" {{!-- class="dark" --}}>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Freelancehunt</title>
    <style>
        .header-menus {
            visibility: hidden;
        }
    </style>
</head>

<body>
    {{> partials/header}}
    <section class="hero">
        <div class="hero__main container">
            <div class="hero__bg-1"></div>
            <div class="hero__bg-2"></div>
            <div class="hero__content">
                <h1 class="mb-2.5 lg:mb-12">
                    <span class="hidden lg:inline-block">Лучшие фрилансеры для выполнения ваших задач</span>
                    <span class="lg:hidden">Лучшие фрилансеры <br> для ваших задач</span>
                </h1>
                <h3 class="hero__description">Работайте без рисков на сервисе <br> фриланса №1 в Украине</h3>
                <div class="hero__actions">
                    <a href="#" class="hero__btn btn btn-lg btn-green">Разместить проект</a>
                    <a href="#" class="p1 link-underline font-bold">Стать фрилансером</a>
                </div>
            </div>
            <img class="hero__image" src="img/hero.png" srcset="img/hero@2x.png 2x" alt="">
        </div>
        <div class="container">
            <div class="hero-clients">
                <div class="hero-clients__title">Нам доверяют</div>
                <div class="hero-clients__slider clients-slider swiper-container">
                    <div class="swiper-wrapper">
                        {{#each partners}}
                        <div class="swiper-slide hero-clients__slide">
                            <img src="{{this}}" alt="" loading="lazy">
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="for-orders section-offset">
        <div class="container">
            <div class="section-title">
                <div class="pre-title">Заказчикам</div>
                <h2>Выбирайте удобный формат сотрудничества</h2>
            </div>
            <div class="swiper-container for-orders-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide for-orders-item">
                        <div class="for-orders-item__content">
                            <div class="for-orders-item__title">Создайте <span>фриланс-проект</span></div>
                            <div class="for-orders-item__description">
                                получите лучшие предложения по цене, срокам от
                                фрилансеров
                            </div>
                            <a href="#" class="for-orders-item__btn btn btn-green">Разместить проект</a>
                        </div>
                        <div class="for-orders-item__image">
                            <img src="img/clock_man.png" loading="lazy" srcset="img/clock_man@2x.png 2x"
                                alt="main-clock">
                        </div>
                    </div>
                    <div class="swiper-slide for-orders-item">
                        <div class="for-orders-item__content">
                            <div class="for-orders-item__title">Опубликуйте <span>конкурс</span></div>
                            <div class="for-orders-item__description">
                                и фрилансеры предложат уже готовые решения
                                <div class="p4 mt-1.5"><span class="transform translate-y-1 inline-block mr-1">*</span>
                                    для категории
                                    Дизайн и Текста</div>
                            </div>
                            <a href="#" class="for-orders-item__btn btn btn-green-stroke">Открыть конкурс</a>
                        </div>
                        <div class="for-orders-item__image">
                            <img src="img/bulb_man.png" loading="lazy" srcset="img/bulb_man@2x.png 2x" alt="main-clock">
                        </div>
                    </div>
                </div>
                <div class="for-orders-slider__pagination slider-pagination"></div>
            </div>
        </div>
    </section>
    <section class="freelancers section-offset">
        <div class="container">
            <div class="section-title">
                <h2>
                    Выбирайте проверенных исполнителей
                </h2>
            </div>
            <div class="freelancers-tabs categories-tabs">
                <div class="categories-tabs-categories">
                    <div class="swiper-container ">
                        <div class="swiper-wrapper">
                            {{#each freelancersCategories}}
                            <a href="#" data-index="{{@index}}"
                                class="swiper-slide categories-tabs-categories__item {{#unless @index  }}active{{/unless}}">{{this}}</a>
                            {{/each}}
                        </div>
                        <div class="categories-tabs-categories__arrow">
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.757971 16.7781C1.1486 17.1685 1.78168 17.1684 2.17217 16.7779L8.53598 10.4141C9.31703 9.63303 9.31703 8.3667 8.53598 7.58565L2.17217 1.22184C1.78168 0.831347 1.1486 0.831236 0.75797 1.22159C0.367126 1.61216 0.367036 2.24566 0.75777 2.63634L7.1222 8.99986L0.75777 15.3634C0.367037 15.7541 0.367126 16.3876 0.757971 16.7781Z"
                                    fill="#232A42" />
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="categories-tabs-content freelancers-tabs__content ">
                    {{#each freelancers}}
                    <div class="categories-tabs-content-block {{#unless @index  }}active{{/unless}}"
                        data-index="{{@index}}">
                        <div class="freelancers-items">
                            <div class="freelancers-item-main">
                                <div class="freelancers-item-main__image">
                                    <a href="#">
                                        <img loading="lazy" src="{{main.image}}" alt="freelancer">
                                    </a>
                                </div>
                                <div class="freelancers-item-main__content">
                                    <div class="freelancers-item-main__name">
                                        <a href="#" class="link-no-underline">
                                            {{main.name}}
                                        </a>
                                    </div>
                                    <div class="freelancers-item-main__category">{{main.category}}</div>
                                    <div class="freelancers-item-main__stat">
                                        <div class="freelancers-item-main__rate">
                                            <img loading="lazy" src="img/icons/star.svg" alt="star">
                                            {{main.rate}} из 10
                                        </div>
                                        <div class="freelancers-item-main__reviews">
                                            <a href="#" target="_blank" class="link">{{main.reviews}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="freelancers-item-rest">
                                {{#each this.items}}
                                <div class="freelancers-item-rest__item">
                                    <a href="#" class="freelancers-item-rest__inner">
                                        <div class="freelancers-item-rest__content">
                                            <img loading="lazy" src="{{this}}" alt="freelancer">
                                        </div>
                                    </a>
                                </div>
                                {{/each}}
                                <div class="freelancers-item-rest__item freelancers-item-rest__more">
                                    <a href="#" class="freelancers-item-rest__inner">
                                        <div class="freelancers-item-rest__content">
                                            <span class="text-lg font-bold leading-5">{{more.cnt}}</span>
                                            <span class="text-xs lg:text-sm mt-1">{{more.text}}</span>
                                            <span class="mt-3">{{> partials/arrow_right }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tags-block">
                            <div class="tags-block__title   ">
                                Топ специализации <a href="#" class="link text-blue">{{categoryName}}</a>
                            </div>
                            {{> partials/tags items=this.tags more="Смотреть все" }}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <section class="numbers section-offset">
        <div class="container">
            <div class="section-title">
                <h2>
                    Фрилансхант в цифрах
                </h2>
            </div>
            <div class="numbers-slider swiper-container">
                <div class="swiper-wrapper">
                    {{#each numbers}}
                    <div class="swiper-slide numbers-item">
                        <div class="numbers-item__num">
                            {{num}}
                        </div>
                        <div class="numbers-item__title">
                            {{title}}
                        </div>
                        <div class="numbers-item__value">
                            {{value}}
                        </div>
                        <div class="numbers-item__value-title">
                            {{valueTitle}}
                        </div>
                        <div class="numbers-item__chart">
                            <img loading="lazy" src="{{img}}" alt="chart">
                            <div class="numbers-item__chart-tooltip">
                                <div>2005</div>
                                <div>2021</div>
                            </div>
                        </div>
                        <div class="numbers-item__stat">
                            {{stat}}
                        </div>
                    </div>
                    {{/each}}

                </div>
                <div class="numbers-slider__pagination slider-pagination"></div>
            </div>
        </div>
    </section>
    <section class="for-freelancers section-offset">
        <div class="container">
            <div class="section-title">
                <div class="pre-title">
                    Фрилансерам
                </div>
                <h2>
                    Почему фрилансеры выбирают Freelancehunt
                </h2>
            </div>
            <div class="for-freelancers__row">
                <div class="for-freelancers__image">
                    <img loading="lazy" src="img/rocket_man.png" srcset="img/rocket_man@2x.png 2x" alt="rocket-man">
                </div>
                <div class="for-freelancers__content">
                    <ul class="for-freelancers__list">
                        <li>Проекты для новичков и профи</li>
                        <li>Честный рейтинг</li>
                        <li>Поиск постоянной работы</li>
                        <li>Безопасное сотрудничество
                            с гарантированной оплатой</li>
                    </ul>
                    <div class="for-freelancers__actions">
                        <a href="#" class="btn btn-lg btn-green">Стать фрилансером</a>
                        <div class="for-freelancers__actions-text">Ищите постоянную работу? - <br> смотрите открытые <a
                                href="#" class="link-underline font-bold">Вакансии</a></div>
                    </div>
                    <div class="for-freelancers__tooltip">После регистрации все исполнители проходят обязательную
                        проверку профиля. После этого
                        работа бесплатна — вам не обязательно покупать <img src="img/icons/pro.svg" alt="pro"
                            class="inline-block mx-1"> аккаунт.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects section-offset">
        <div class="container">
            <div class="section-title">
                <h2>Ищите работу среди <span class="text-green">3400</span> открытых фриланс-проектов</h2>
            </div>
            <div class="projects-tabs categories-tabs">
                <div class="categories-tabs-categories">
                    <div class="swiper-container ">
                        <div class="swiper-wrapper">
                            {{#each freelancersCategories}}
                            <a href="#" data-index="{{@index}}"
                                class="swiper-slide categories-tabs-categories__item {{#unless @index  }}active{{/unless}}">{{this}}</a>
                            {{/each}}
                        </div>
                        <div class="categories-tabs-categories__arrow">
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.757971 16.7781C1.1486 17.1685 1.78168 17.1684 2.17217 16.7779L8.53598 10.4141C9.31703 9.63303 9.31703 8.3667 8.53598 7.58565L2.17217 1.22184C1.78168 0.831347 1.1486 0.831236 0.75797 1.22159C0.367126 1.61216 0.367036 2.24566 0.75777 2.63634L7.1222 8.99986L0.75777 15.3634C0.367037 15.7541 0.367126 16.3876 0.757971 16.7781Z"
                                    fill="#232A42" />
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="categories-tabs-content projects-tabs__content ">
                    {{#each projects}}
                    <div class="categories-tabs-content-block {{#unless @index  }}active{{/unless}}"
                        data-index="{{@index}}">
                        <div class="projects-image">
                            <a href="#">
                                <img src="{{image}}" loading="lazy" alt="project-image">
                            </a>
                        </div>
                        <div class="tags-block">
                            <div class="tags-block__title   ">
                                Топ специализации <a href="#" class="link text-blue">{{categoryName}}</a>
                            </div>
                            {{> partials/tags items=this.tags more="Всего активно 37" }}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <section class="vacancies section-offset">
        <div class="container">

            <div class="section-title">
                <div class="pre-title">
                    Вакансии
                </div>
                <h2>Ищите специалиста на постоянную работу?</h2>
            </div>
            <div class="vacancies__row">
                <div class="vacancies__image">
                    <img loading="lazy" src="img/vacancy.png" srcset="img/vacancy@2x.png 2x" alt="rocket-man">
                </div>
                <div class="vacancies__content">
                    <div class="vacancies__text">
                        Выбирайте специалиста по их резюме или <b>разместите вакансию сейчас!</b>
                    </div>
                    <div class="vacancies__actions">
                        <a href="#" class="btn btn-lg btn-green">Разместить вакансию</a>
                        <div class="vacancies__actions-text">Ищите постоянную работу? - смотрите открытые <a href="#"
                                class="link-underline font-bold">Вакансии</a></div>
                    </div>
                    <div class="vacancies__tags tags-block">
                        <div class="tags-block__title   ">
                            Открытые <a href="#" class="link text-blue">Вакансии</a> по категориям
                        </div>
                        {{> partials/tags items=vacancies.tags more="15 категорий" }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> partials/info}}
    {{> partials/footer}}
    {{> partials/menu-auth}}
    {{> partials/menu-mob}}
    <script src="js/scripts.js"></script>
</body>

</html>